<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.model.Menu" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="MENU_ID" property="menuId" jdbcType="BIGINT" />
    <result column="PARENT_ID" property="parentId" jdbcType="BIGINT" />
    <result column="MENU_NAME" property="menuName" jdbcType="VARCHAR" />
    <result column="PATH" property="path" jdbcType="VARCHAR" />
    <result column="COMPONENT" property="component" jdbcType="VARCHAR" />
    <result column="PERMS" property="perms" jdbcType="VARCHAR" />
    <result column="ICON" property="icon" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="CHAR" />
    <result column="ORDER_NUM" property="orderNum" jdbcType="DOUBLE" />
    <result column="CREATE_TIME" property="createTime" jdbcType="DATE" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="DATE" />
  </resultMap>
    <select id="getMenuByUserId" resultType="com.aaa.model.Menu">
      select m.MENU_ID menuId, m.MENU_NAME menuName, PATH from t_menu m
      join t_role_menu rm on rm.MENU_ID = m.MENU_ID
      join (select r.ROLE_ID roleId from t_role r
          JOIN t_user_role ur on r.ROLE_ID = ur.ROLE_ID
          join t_user u on ur.USER_ID = u.id where u.id = 1) res
      on res.roleId = rm.ROLE_ID where m.PARENT_ID = 0
    </select>
    <select id="getMenuByParentId" resultType="com.aaa.model.Menu" parameterType="java.lang.Long">
      select a.MENU_ID menuId, a.MENU_NAME menuName, a.PATH from t_menu a
      left join (select MENU_ID from t_menu where PARENT_ID = 0) b
          on a.PARENT_ID = b.MENU_ID where a.PARENT_ID = #{parentId}
    </select>

</mapper>